.App{

  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
 
 
}
header{
  grid-area: header;
  background-color: rgb(23, 22, 32);
    color: aliceblue;
    font-size: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 10px;
padding-left: 10px;
}
header>a{
text-decoration: none;
color: aliceblue;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: rgb(23, 22, 32);
  color: aliceblue;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}
